{% comment %}
  Political Entities Service Centre (PEPP) - Header Template
  Minimalist application header
{% endcomment %}

{% if user %}

{% include 'PEPP-Base-Styles' %}
<nav>
  <ul id="wb-tphp" class="wb-init wb-disable-inited">
    <li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
    <li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to About this site</a></li>
    <li class="wb-slc"><a class="wb-sl" href="?wbdisable=true" rel="alternate">Switch to basic HTML version</a></li>
  </ul>
</nav>

<header>
  <div id="wb-bnr" class="container">
    <div class="row">
      <!-- Logo - comes first in DOM -->
      <div class="col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
        <a href="/" property="url">
          <img src="/ec-logo.png" alt="Elections Canada" property="logo">
          <span class="wb-inv"> / <span lang="fr">Élections Canada</span></span>
        </a>
        <meta property="name" content="Elections Canada">
        <meta property="areaServed" typeof="Country" content="Canada">
      </div>
      
      <!-- Language toggle -->
      <section id="wb-lng" class="col-xs-3 col-sm-7 col-md-8 text-right">
        <h2 class="wb-inv">Language selection</h2>
        <ul class="list-inline mrgn-bttm-0">
          <li>
            <a lang="fr" hreflang="fr" href="{{ page.adx_partialurl }}-fr">
              <span class="hidden-xs" translate="no">Français</span>
              <abbr title="Français" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</header>

<section class="application-bar">
  <div class="container">
    <div class="application-bar-content">
      <h2><a href="/">{{ snippets['PEPP/APP/TITLE'] | default: 'PEPP Portal' }}</a></h2>
      <div class="profile-menu">
        <button class="profile-menu-toggle" tabindex="0">
          <i class="fa fa-user profile-icon"></i>
          <span>{{ user.fullname }}</span>
          <i class="fa fa-caret-down profile-caret"></i>
        </button>
        <div class="profile-menu-content">
          {% assign weblink_set = weblinks["Profile Navigation"] %}
          {% for link in weblink_set.weblinks %}
            <a href="{{ link.url | h }}{{ request.query }}" title="{{ link.tooltip | h }}">{{ link.name | h }}</a>
          {% endfor %}
          <a href="/Account/Login/LogOff?returnUrl=/" title="Logout">Logout</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% else %}

{% comment %} Anonymous user - minimal header, no menu, no breadcrumb {% endcomment %}
{% include 'PEPP-Base-Styles' %}

<nav>
  <ul id="wb-tphp" class="wb-init wb-disable-inited">
    <li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
    <li class="wb-slc"><a class="wb-sl" href="?wbdisable=true" rel="alternate">Switch to basic HTML version</a></li>
  </ul>
</nav>

<header class="pepp-anon-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <a href="/" class="">
          {% if user %}
          <img src="/ec-logo.png" alt="Elections Canada">
          {% else %}
          <img src="/ec-logo-invert.png" alt="Elections Canada">
          {% endif %}
        </a>
      </div>
      <div class="col-xs-6 text-right">
        <a lang="fr" hreflang="fr" href="{{ page.adx_partialurl }}-fr" class="lang-link">
          <span class="hidden-xs" translate="no">Français</span>
          <abbr title="Français" translate="no" class="visible-xs">FR</abbr>
        </a>
      </div>
    </div>
  </div>
</header>

{% endif %}