<div class="wrapper-body">
  <div class="container" role="main">
    <div class="page-heading">
      {% block breadcrumbs %}
        {% comment %} {% include 'Breadcrumbs' %} {% endcomment %}
        {% include 'ECNavBreadcrumbs' %}
      {% endblock %}
      {% block title %}
        {% include 'Page Title' %}
      {% endblock %}
    </div>
  <div class="row">
    <div class="col-md-12">
      <div id="mainContent">
      {% block main %}
      {% include 'Page Copy' %}
     
      {% if page.adx_entitylist %}
            {% include 'entity_list' key:page.adx_entitylist.id %}
          {% endif %}
         
          {% if page.adx_entityform %}
            {% entityform id: page.adx_entityform.id %}
          {% endif %}
         
          {% if page.adx_webform %}
            {% webform id: page.adx_webform.id %}
          {% endif %}
    {% endblock %}
    </div>
    </div>
  </div>
  </div>
</div>