{% extends 'Layout 1 Column' %}
{% block main %}
  {% include 'Page Copy' %}
  
  {% if page.adx_entitylist %}
    <section class="gc-srvinfo mrgn-tp-lg">
      <h2>{{ page.adx_entitylist.name }}</h2>
      {% include 'entity_list' key: page.adx_entitylist.id %}
    </section>
  {% endif %}
  
  {% if page.adx_entityform %}
    <section class="mrgn-tp-lg">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{ page.adx_entityform.name }}</h2>
        </div>
        <div class="panel-body">
          {% entityform id: page.adx_entityform.id %}
        </div>
      </div>
    </section>
  {% endif %}
  
  {% if page.adx_webform %}
    <section class="mrgn-tp-lg">
      {% webform id: page.adx_webform.id %}
    </section>
  {% endif %}
{% endblock %}